@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('/src/assets/font/font.css');
body {
  margin: 0;
  // font-family: Verdana, '微软雅黑', 'Microsoft Yahei', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
  //   'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-family: 'Alibaba_PuHuiTi_2.0_55_Regular_55_Regular';
  color: #333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  // font-family: 'Alibaba_PuHuiTi_2.0_55_Regular_55_Regular';
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#root {
  width: 100%;
  height: 100%;
}

body {
  width: 100vw;
  height: 100vh;
}

#app {
  width: 100%;
  height: 100%;
}

/* 滚动条样式 */

::-webkit-scrollbar {
  width: 5px;
  /*滚动条宽度*/
  height: 4px;
  /*滚动条高度*/
}

/* 定义滚动条轨道 内阴影+圆角 */

::-webkit-scrollbar-track {
  /* -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3);   */
  border-radius: 20px;
  /* 滚动条的背景区域的圆角 */
  background-color: rgba(96, 98, 102, 0.05);
  /* 滚动条的背景颜色 */
}

/* 定义滑块 内阴影+圆角 */

::-webkit-scrollbar-thumb {
  border-radius: 20px;
  /* 滚动条的圆角 */
  /* -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,.3);   */
  background-color: rgba(89, 87, 87);
  /* 滚动条的背景颜色 */
}

/* 这个类用于超出部分显示省略号 */

.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* 夜间模式所需样式 */

::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}

.dark::view-transition-old(root) {
  z-index: 1;
}

.dark::view-transition-new(root) {
  z-index: 999;
}

::view-transition-old(root) {
  z-index: 999;
}

::view-transition-new(root) {
  z-index: 1;
}

.table-edit-head {
  display: flex;
  align-items: center;
  justify-content: center;
  .table-edit-icon {
    margin-left: 5px;
    cursor: pointer;
  }
}

.search-form-card {
  --el-card-padding: 10px 10px 0;
}

.stick-top {
  position: sticky;
  top: -10px;
  z-index: 10;
}

.poooooover {
  border: 1px solid var(--el-border-color-light);
  border-radius: 10px;
  --el-bg-color-overlay: #edf1f4;
  --el-popover-border-radius: 10px !important;
  width: 149px;
  //  :deep(.el-popover__arrow) {
  //     display: none in !important;
  //     //border: 1px solid var(--el-border-color-light);
  // }
}

// .el-popover__arrow {
//     display: none;
// }
.el-popper__arrow {
  position: absolute;
  width: 10px;
  height: 10px;
  z-index: -1;
  display: none !important;
}

.el-popover.el-popper {
  background: var(--el-popover-bg-color);
  min-width: 140px !important;
}

.user-dropdown1 {
  color: #333;
  // --el-dropdown-menuItem-hover-fill: #edf1f4;
  --el-dropdown-menuItem-hover-fill: #f0f3f9;
  --el-dropdown-menuItem-hover-color: #333;
}
.el-select-dropdown__list {
  margin: 0px !important;
  padding: 0px !important;
}
.el-select .el-input.is-focus .el-input__wrapper {
  // box-shadow: 0px 0px 1px #d4e0ea !important;
  // border: 1px solid #d7000f !important;
}
.el-select .el-input__wrapper.is-focus {
  box-shadow:none !important;
  // border: 1px solid #d7000f !important;

}
.el-input__wrapper {
  box-shadow: none;
  border: 1px solid #d4e0ea;
}
.el-input__wrapper:hover {
  // border-color: none;
  box-shadow: none !important;
}
button {
  font-family: 'Alibaba_PuHuiTi_2.0_55_Regular_55_Regular';
}
.el-select-dropdown__item.selected{
  color: #333 !important;
  font-weight: normal;
}
