@font-face {
  font-family: "iconfont"; /* Project id 4730483 */
  src: url('iconfont.woff2?t=1735370361251') format('woff2'),
       url('iconfont.woff?t=1735370361251') format('woff'),
       url('iconfont.ttf?t=1735370361251') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jinyong:before {
  content: "\e615";
}

.icon-fuzhi-copy:before {
  content: "\ec9b";
}

.icon-fuzhi:before {
  content: "\ec7a";
}

.icon-wancheng:before {
  content: "\e638";
}

.icon-guanbi:before {
  content: "\e600";
}

.icon-fangxiangxia:before {
  content: "\e6c3";
}

.icon-fangxiang:before {
  content: "\e618";
}

.icon-zengjia:before {
  content: "\e643";
}

.icon-shanchu1:before {
  content: "\e61f";
}

.icon-chakan:before {
  content: "\e664";
}

.icon-bianji:before {
  content: "\e645";
}

.icon-shuaxin:before {
  content: "\e627";
}

.icon-sousuo:before {
  content: "\e608";
}

.icon-shanchu:before {
  content: "\ec7b";
}

.icon-fuzhi1:before {
  content: "\e8b0";
}

.icon-shoucang_shoucang:before {
  content: "\e60a";
}

.icon-xinzeng1-copy:before {
  content: "\ec8f";
}

.icon-shoucang_shoucang-copy:before {
  content: "\ec97";
}

.icon-xiazai-copy:before {
  content: "\ec95";
}

.icon-zanting:before {
  content: "\e669";
}

.icon-icon:before {
  content: "\e657";
}

.icon-daochu:before {
  content: "\e633";
}

.icon-xiazai:before {
  content: "\e611";
}

.icon-start-full:before {
  content: "\ea8e";
}

.icon-yinxiao1:before {
  content: "\e67d";
}

.icon-gantanhao:before {
  content: "\e60e";
}

.icon-xiangxixinxi:before {
  content: "\e744";
}

.icon-yuyinmaikefeng-tianchong:before {
  content: "\ea6b";
}

.icon-shangchuanwenjian:before {
  content: "\e67b";
}

.icon-a-bianzu32x:before {
  content: "\e66b";
}

.icon-yinpinwenjian:before {
  content: "\e631";
}

.icon-luzhi_24:before {
  content: "\e7bc";
}

.icon-zhongxinyunhang:before {
  content: "\e616";
}

.icon-kechengliebiaokaishibofang-copy:before {
  content: "\ec7d";
}

.icon-kechengliebiaokaishibofang-copy-copy:before {
  content: "\ec99";
}

.icon-kechengliebiaokaishibofang-copy-copy1:before {
  content: "\ec9a";
}

.icon-a-bianzu32x-copy:before {
  content: "\ec98";
}

.icon-fileaudioo:before {
  content: "\e749";
}

.icon-shengbo:before {
  content: "\e603";
}

.icon-zantingbofang:before {
  content: "\e62b";
}

.icon-yunhangzhong:before {
  content: "\e824";
}

.icon-a-icon-alarmstrategy-copy-copy:before {
  content: "\ec93";
}

.icon-shiyongwendang-copy:before {
  content: "\ec94";
}

.icon-shiyongwendang-copy1:before {
  content: "\ec96";
}

.icon-yuyinzhuanwenben-copy:before {
  content: "\ec90";
}

.icon-speech_text-copy:before {
  content: "\ec91";
}

.icon-yinxiao-copy:before {
  content: "\ec92";
}

.icon-yinxiao:before {
  content: "\e661";
}

.icon-speech_text:before {
  content: "\e64b";
}

.icon-APIguanli:before {
  content: "\e632";
}

.icon-yuyinzhuanwenben:before {
  content: "\e639";
}

.icon-a-icon-alarmstrategy-copy:before {
  content: "\ec7f";
}

.icon-APIguanli-copy:before {
  content: "\ec8a";
}

.icon-shiyongwendang:before {
  content: "\eb66";
}

.icon-jizhang-copy:before {
  content: "\ec84";
}

.icon-tuichudenglu-copy:before {
  content: "\ec82";
}

.icon-chanpinwendang-copy:before {
  content: "\ec83";
}

.icon-xiangxiajiantou:before {
  content: "\e63f";
}

.icon-jizhang:before {
  content: "\e676";
}

.icon-chanpinwendang:before {
  content: "\e73b";
}

.icon-tuichudenglu:before {
  content: "\e763";
}

